body {
	margin          : 0;
	background-color: #FFCB05;
}

.birds {
	top      : 28px;
	right    : 36px;
	height   : 12vh;
	position : fixed;
	min-width: 84px;
	width    : 25vw;
}

.muelle {
	max-width : 110vw;
	bottom    : -30vh;
	position  : fixed;
	z-index   : 10;
	min-height: 76vh;
	max-height: 80vh;
	min-width : 104vw;
	left      : -4vw;
}

.logo {
	width    : 72vw;
	max-width: 90vh;
	margin   : 28vh 14vw 0;
	position : relative;
	z-index  : 11;
}
