body {
	margin          : 0;
	background-color: #FFCB05;
}

#audioE {
	width   : 100%;
	position: fixed;
	bottom  : 0;
	z-index : 16;
	height  : 32px;
	display : none;
}

.birds {
	top      : 28px;
	right    : 36px;
	height   : 12vh;
	position : fixed;
	min-width: 84px;
	width    : 10vw;
}

.muelle {
	max-width : 110vw;
	bottom    : -28vh;
	position  : fixed;
	z-index   : 10;
	min-height: 76vh;
	max-height: 80vh;
	min-width : 104vw;
	left      : -4vw;
}

.logo {
	width    : 72vw;
	max-width: 90vh;
	margin   : 24vh 14vw 0;
	position : relative;
	z-index  : 11;
}

.playing {
	background-image: url("img/play.svg");
}

.paused {
	background-image: url("img/pause.svg");
}

#button1 {
	height           : 26vh;
	min-width        : 48px;
	margin           : 0 auto;
	width            : 26vh;
	position         : relative;
	background-size  : cover;
	z-index          : 15;
	background-repeat: no-repeat;
	cursor           : pointer;
}

::selection {
	background: #FFCB05;
}
