body {
	margin          : 0;
	background-color: #FFCB05;
}

#audioE {
	width     : 100%;
	min-height: 32px;
	position  : absolute;
	bottom    : 0;
	z-index   : 15;
	display   : none;
}

.birds {
	background-image : url("img/birds.svg");
	top              : 28px;
	right            : 36px;
	height           : 12vh;
	position         : absolute;
	background-size  : contain;
	background-repeat: no-repeat;
	min-width        : 84px;
	width            : 10vw;
}

.muelle {
	background-image : url("img/muelle.svg");
	height           : 24vh;
	width            : 100vw;
	bottom           : 0;
	position         : absolute;
	background-size  : cover;
	background-repeat: no-repeat;
	z-index          : 10;
}

.logo {
	width    : 72vw;
	max-width: 90vh;
	margin   : 24vh 14vw 0;
	position : relative;
	z-index  : 11;
}

.playing {
	background-image: url("img/play.svg");
}

.paused {
	background-image: url("img/pause.svg");
}

#button1 {
	height           : 26vh;
	min-width        : 48px;
	margin           : 0 auto;
	width            : 26vh;
	position         : relative;
	background-size  : cover;
	z-index          : 15;
	background-repeat: no-repeat;
	cursor           : pointer;
}

::selection {
	background: #FFCB05;
}
